<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for state in states %}
            <LI>{{ state.id }}: <B>{{ state.name }}</B></LI>
        {% endfor %}
        </UL>
    </BODY>
</HTML>



ALTER USER 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY '1234';
CREATE USER 'gaza'@'localhost' IDENTIFIED BY '1234';
UPDATE mysql.user SET plugin='mysql_native_password' WHERE User='root';
ALTER USER 'root'@'localhost' IDENTIFIED BY '1234';
UPDATE user SET authentication_string=password('1234') WHERE user='root';
FLUSH PRIVILEGES;